CardGame.xcodeproj/project.xcworkspace/xcuserdata/cdavis4.xcuserdatad/UserInterfaceState.xcuserstate
CardGame.xcodeproj/project.xcworkspace/xcuserdata/Carl.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store